## Configuración variables de entorno

#Configuración del puerto de la aplicación
PORT=3000

#Configuración de la base de datos
MONGO_URI=mongodb://127.0.0.1:27017
DATABASE_NAME=taskdb

# Configuracion BD pruebas
MONGO_URI_TEST=mongodb://127.0.0.1:27017
DATABASE_NAME_TEST=taskdb_test
